ARTEFACT_BUCKET_PREFIX=david-securityhub-artifacts-bucket
BRANCH_NAME=master
MASTER_ACCOUNT_PROFILE=testorg-opscentral
ORG_ID=o-n4q9yibv9t
REGIONS="eu-west-1 eu-west-2 us-east-1"
SERVICE_CODE=WCLOUD
SERVICE_NAME="Cloud Team"
SERVICE_OWNER=cloudops@metoffice.gov.uk
TARGET_ACCOUNT_PROFILE=testorg-productdev
UNIQUE_NAME=david
